@import ../../../node_modules/normalize.css/normalize.css
body
    font-family: 'Verdana';
    letter-spacing: 7px;
section
    background: red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    div
        h1
            font-weight: 500;
            text-shadow: 1px 1px 3px rgba(30, 30, 30, 0.5);
            color: #fff;
        p
            position: absolute;
            bottom: 10px;
            right: 10px;
            text-shadow: 1px 1px 3px rgba(30, 30, 30, 0.5);
            color: #fff;
        a
            color: gray;





